body {
    background-color: black;
}


.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-rounded-corners-inline {
    border-radius: 30px 30px 30px 30px;
}

.wd-fg-color-white { color: white; }
.wd-fg-color-links { color: rgb(110, 118, 125)}
.wd-fg-color-firstlink {color: rgb(29, 161, 242)}


.wd-bg-color-darkgray {
    background-color: darkgray;
}


.wd-float-right {
    float: right;
}


.wd-padding-links{ padding: 16px;}

.wd-font-links {font-size: 15px;
    text-decoration:none ;}

.wd-font-link-foryou {font-size : 15px;}

.wd-font-topics {font-size: 13px;}


.wd-pos-relative-imageD {
    position: relative;
    right: 16px;
}

.wd-pos-relative-16left {
    margin-left: 16px;
}

.wd-pos-absolute-top-right {
    position: absolute;
    top: 5px;
    right: 20px;      }


